body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.navbar {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#observations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 10px;
    border: none;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.text-warning {
    --bs-text-opacity: 1;
    color: rgb(254, 94, 34)!important;
}

#loading {
    margin: 40px 0;
}

canvas {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
}

#observations {
    transition: all 0.3s ease-in-out;
}

.btn-outline-orange {
    color: rgb(254, 94, 34);
    border: 2px solid rgb(254, 94, 34);
    background-color: transparent;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn-outline-orange:hover{
    background-color: rgb(254, 94, 34);
    color: white;
    border-color: rgb(254, 94, 34);
}

.chart-container {
    max-width: 800px;
    margin: 0 auto;
}

#observationsChart {
    width: 100% !important;
    height: auto !important;
}

.form-select {
    max-width: 125px;
}